color_letra = #C4C4C4
azul_aqua = #53C0BB
verde_pistache =#95F88F
a
	text-decoration 

body
	background-image url("fondo.jpg");
	font-size 16px
	color color_letra
.eslogan
	font-size 2.5em
	color white
.login
	background rgba(azul_aqua, 0.7)
	height 250px
	border-radius 6px

	.wraper-login
		margin 1em
		text-align center
		padding-top 1em
		.title-login
			text-align center
			display block
			font-size 1.5em
			color white
			margin-bottom 1em
		.input-user
			padding 0.5em
			border-radius 4px
			border 1px solid white
			margin-left 26px
		.input-pass
			padding 0.5em
			border-radius 4px
			border 1px solid white
			margin 0.5em	
		.iniciar
			background verde_pistache
			padding 0.8em 6em
			
			border 1px solid transparent
			margin 0.5em auto

