@import "fonts.styl"


color_letra = #C4C4C4
azul_aqua = #53C0BB
verde_pistache =#95F88F
azul_facebook = #3B5998
azul_twitter = #30D8F0
negro = #201D1D
gris_medio = #424242

a
	text-decoration none

body
	
	font-size 16px
	color color_letra
	margin 0
	font-family 'Varela Round', sans-serif
figure
	margin 0
//Clases generica
.right
	float right
.left
	float left
.margin
	margin 0	
.inline-block
	display inline-block
.gris
	color color_letra		

.eslogan
	font-size 2.5em
	color white
.login
	background rgba(azul_aqua, 0.7)
	height 250px
	border-radius 6px
	margin 0 0.4em
	.wraper-login
		margin 1em
		text-align center
		padding-top 1em

		.title-login
			text-align center
			display block
			font-size 1.5em
			color white
			margin-bottom 1em
		.input-user
			padding 0.5em
			border-radius 4px
			border 1px solid white
			margin-left 27px
		.input-pass
			padding 0.5em
			border-radius 4px
			border 1px solid white
			margin 0.6em 0.5em	
		.iniciar
			background verde_pistache
			padding 0.8em 6em
			
			border 1px solid transparent
			margin 0.5em auto

.wraper-social-login
	margin 1em 0.5em
	.facebook
		background azul_facebook
		color white
		padding 0.8em 1em
		width 130px
		margin 0.5em auto
		.icon-facebook
			border-right 1px solid white
			padding 0.4em
		a
			padding-left 0.4em
			color white
	.twitter
		background azul_twitter
		color white
		padding 0.8em 1em
		width 130px
		margin 0.5em auto
		.icon-twitter
			border-right 1px solid white
			padding 0.4em
		a
			padding-left 0.4em
			color white	
.footer
	margin 0
	background negro
	overflow hidden
	text-align center
	width 100%
	height auto
	.header-footer
		color white
		text-align center

	.developers
		display inline-block
		width 250px

		.avatar
			float left
			vertical-align bottom
			margin 0.5em
			img
				border-radius 50%
				width 70px
				height 70px
		.contact
			color white
			padding 0.5em 
// Estilos para las demas paginas
.header
	overflow hidden
	background white
	font-size 1em
	border-bottom 2px solid color_letra
	box-shadow 0px 2px 10px black
	z-index 2
	.icon-menu
		font-size 2em
		padding 0.5em
	.title
		color black
		text-align center
		margin 0.5em
	.form-search
		background azul_twitter
		padding-bottom 0.5em
		text-align center
		overflow hidden

		#txtSearch
			margin-top 0.5em
			padding 0.5em
			border-radius 4px
			border 1px solid color_letra
			width 95%
			padding-left 0.3em
			
		.btnSearch
			background transparent
			border 1px solid transparent	
			border-right 1px solid white
			padding 0.4em 0
			padding-right 1em
		.btnCategory
			background transparent
			border 1px solid transparent
.love-book
	.book
		overflow hidden
		border-bottom 1px solid color_letra
		.presentation
			float left
			margin 0.4em
			img
				width 120px
				height auto
		.book-title
			color gris_medio
		.read
			padding 0.5em 1.5em
			float right
			margin-right 1em
			background verde_pistache
			color gris_medio	
			margin-bottom 0.5em


					
			

@media (min-width:700px)
	body
		overflow hidden

		.eslogan
			margin 1em
			width 70%
			
		.login
			width 400px
			float right	
			margin-bottom 6em
			margin-right 2em
			height 300px
		
			

			
	
					


